<h2>Users</h2>

{{#each users}}
    <p>
        <a href="/users/{{id}}">{{name}} {{description}}</a>
    </p>
{{/each}}

<hr>

<h2>Create user</h2>

<form action="/new-user" method="post">
    <input type="text" name="name" placeholder="name"> <br>
    <input type="text" name="Description " placeholder="Description "> <br>

    <input type="submit" value="Save">
</form>